@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="mud-height-full">
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Class="me-2" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Color="Color.Inherit">Karata</MudText>
        <MudSpacer />
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit">
            <MudMenuItem>Toggle Theme</MudMenuItem>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader LinkToIndex="true">
            <MudText Typo="Typo.h5" Class="mt-1">Karata</MudText>
        </MudDrawerHeader>
        <AuthorizeView>
            <Authorized>
                <MudButton Link="Identity/Account/Manage" Variant="Variant.Text" Color="Color.Primary" FullWidth="true">
                    Hello, @context.User.Identity.Name!
                </MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Secondary" FullWidth="true"
                    ButtonType="ButtonType.Submit" form="logout">
                    Log out
                </MudButton>
                <form id="logout" method="post" action="Identity/Account/LogOut" class="d-none"></form>
            </Authorized>
            <NotAuthorized>
                <MudButton Link="Identity/Account/Register" Variant="Variant.Text" Color="Color.Primary"
                    FullWidth="true">
                    Register
                </MudButton>
                <MudButton Link="Identity/Account/Login" Variant="Variant.Text" Color="Color.Secondary"
                    FullWidth="true">
                    Log in
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="mud-height-full">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen;

    void DrawerToggle() => _drawerOpen = !_drawerOpen;
}