@using TextCopy
@inject ISnackbar Snackbar 

<MudExpansionPanels DisableBorders="true" Elevation="0" Class="mb-4">
    <MudExpansionPanel Text="Information" @bind-IsExpanded="_expand">
        <MudList Clickable="true">
            <MudListItem OnClick="CopyInviteLink">
                <MudText Typo="Typo.caption">Room ID (Click to Copy)</MudText>
                <MudText Typo="Typo.body1" Class="grey-text">@Room.Id.ToString()</MudText>
            </MudListItem>
            <MudListItem>
                <MudText Typo="Typo.caption">Date Created</MudText>
                <MudText Typo="Typo.body1" Class="grey-text">@Room.CreatedAt</MudText>
            </MudListItem>
            <MudListItem>
                <MudText Typo="Typo.caption">Room Admin</MudText>
                <MudText Typo="Typo.body1" Class="grey-text">@Room.Creator.Email</MudText>
            </MudListItem>
            <MudListItem>
                <MudText Typo="Typo.caption">Current Turn</MudText>
                <MudText Typo="Typo.body1" Class="grey-text">@Game.Hands[Game.CurrentTurn].User.Email</MudText>
            </MudListItem>
            <MudListItem>
                <MudText Typo="Typo.caption">Players</MudText>
                <MudText Typo="Typo.body1" Class="grey-text">@Game.Hands.Count</MudText>
            </MudListItem>
            <MudListItem>
                <MudText Typo="Typo.caption">Status</MudText>
                <MudText Typo="Typo.body1" Class="grey-text">@(Game.IsStarted ? "In Progress" : "In Lobby")</MudText>
            </MudListItem>
        </MudList>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Players">
        <MudList>
            @foreach (var hand in Game.Hands)
            {
                <MudListItem Text="@hand.User.Email"></MudListItem>
            }
        </MudList>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Chat" MaxHeight="500">
        <MudTextField T="string" Label="Type your message:" Variant="Variant.Filled" @bind-Value="@_message" Lines="5" Class="mb-2" />
        <MudButton Variant="Variant.Text" EndIcon="@Icons.Rounded.Send" Color="Color.Primary" FullWidth="true" OnClick="@Send">Send Message</MudButton>
        <MudDivider DividerType="DividerType.Middle" Class="my-4" />

        <MudList>
            @foreach (var message in Room.Chats)
            {
                <MudListItem>
                    <div class="d-flex align-center">
                        @if (message.Sender.Id == Player.Id)
                        {
                            <MudIcon Icon="@Icons.Rounded.Person" Class="me-2" />
                        }
                        <MudText>@message.Sender.Email</MudText>
                    </div>
                    <MudText Typo="Typo.caption" Class="grey-text mb-2">@message.Sent</MudText>
                    <MudText>@message.Text</MudText>
                </MudListItem>
            }
        </MudList>
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{
    [Parameter]
    public UIRoom Room { get; set; } = null!;

    [Parameter]
    public UIUser Player { get; set; } = null!;

    [Parameter]
    public EventCallback<string> OnSend { get; set; }

    [Inject]
    public IClipboard Clipboard { get; set; } = null!;

    private UIGame Game => Room.Game;
    private bool _expand = true;
    private string _message = null!;

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_message))
        {
            Snackbar.Add("You must enter a message to send.", Severity.Error);
            return;
        }

        await OnSend.InvokeAsync(_message);
        _message = "";
    }

    private async Task CopyInviteLink()
    {
        await Clipboard.SetTextAsync(Room.Id.ToString() ?? string.Empty);
        Snackbar.Add("Copied to clipboard.", Severity.Info);   
    }
}