<div class="px-6 pt-2 pb-4">
    <MudText Class="mb-2">
        You may now request the @(Specific ? "exact card" : "suit") that will continue.
        Players must either match this request, or block @(Specific ? "all or part of it" : "it") using
        @(Specific ? "one or more aces" : "an ace").
    </MudText>

    @if (Specific)
    {
        <MudSelect Class="mb-4" @bind-Value="Face" Label="Face" Variant="Variant.Filled"
                   AnchorOrigin="Origin.BottomCenter">
            @foreach (var face in Enum.GetValues<CardFace>())
            {
                @if (face is Joker) continue;
                <MudSelectItem Value="@face">@face</MudSelectItem>
            }
        </MudSelect>
    }

    <MudSelect Class="mb-4" @bind-Value="Suit" Label="Suit" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
        @foreach (var suit in Enum.GetValues<CardSuit>())
        {
            @if (suit is BlackJoker or RedJoker) continue;
            <MudSelectItem Value="@suit">@suit</MudSelectItem>
        }
    </MudSelect>

    <MudButton OnClick="SubmitForm">Request this card</MudButton>

    @if (Specific)
    {
        <MudStack Row>
            <MudDivider DividerType="DividerType.Middle" Class="th-4"/>
            <MudText Typo="Typo.body2">OR</MudText>
            <MudDivider DividerType="DividerType.Middle" Class="th-4"/>
        </MudStack>

        <MudGrid Class="mb-4" Spacing="4">
            <MudItem xs="6">
                <MudButton Variant="Variant.Outlined" Color="Color.Dark" OnClick="() => RequestJoker(Black)">
                    Black Joker
                </MudButton>
            </MudItem>
            <MudItem xs="6">
                <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="() => RequestJoker(Red)">
                    Red Joker
                </MudButton>
            </MudItem>
        </MudGrid>
    }
</div>

@code
{
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public bool Specific { get; set; }
    private CardFace Face { get; set; } = None;
    private CardSuit Suit { get; set; } = Spades;

    private void RequestJoker(CardColor color)
    {
        (Face, Suit) = (Joker, color is Black ? BlackJoker : RedJoker);
        SubmitForm();
    }

    private void SubmitForm() => MudDialog.Close(Face.Of(Suit));

    private void Cancel() => MudDialog.Close();
}