@using Blazored.LocalStorage
@inherits LayoutComponentBase

@inject ILocalStorageService LocalStorage

<MudThemeProvider @ref="_themer" @bind-IsDarkMode="@_dark" Theme="_theme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout Class="mud-height-full">
    <MudAppBar Elevation="0" Style="background-color: var(--mud-palette-background-gray);">
        <MudLink Href="/" Typo="Typo.body1" Color="Color.Default" Class="me-4" Underline="Underline.None">
            Karata
        </MudLink>
        <MudLink Href="/game/join" Typo="Typo.body2" Class="me-4" Color="Color.Default">
            Play
        </MudLink>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudLink Href="Identity/Account/Manage" Typo="Typo.body2" Class="me-4">
                    Hi, @context.User.Identity!.Name!
                </MudLink>
                <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Error" ButtonType="ButtonType.Submit" form="logout"/>
                <form id="logout" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" class="d-none"></form>
            </Authorized>
            <NotAuthorized>
                <MudLink Href="Identity/Account/Register" Typo="Typo.body2" Class="me-4" Color="Color.Default">
                    Register
                </MudLink>
                <MudLink Href="Identity/Account/Login" Typo="Typo.body2" Class="me-2" Color="Color.Primary">
                    Log in
                </MudLink>
            </NotAuthorized>
        </AuthorizeView>
        <MudIconButton Icon="@ThemeToggleIcon" Color="@Color.Default" OnClick="OnToggleThemeAsync"/>
    </MudAppBar>
    <MudMainContent Class="mud-height-full" Style="position: relative">
        @Body
    </MudMainContent>
</MudLayout>

@code
{
    private bool _dark;
    private readonly MudTheme _theme = new();
    private MudThemeProvider _themer = null!;

    private string ThemeToggleIcon => _dark switch
    {
        true => Icons.Material.Filled.LightMode,
        false => Icons.Material.Filled.DarkMode,
    };
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dark = await LocalStorage.GetItemAsync<bool?>("karata:settings:dark") ?? await _themer.GetSystemDarkModeAsync();
            StateHasChanged();
        }
    }

    private async Task OnToggleThemeAsync()
    {
        await LocalStorage.SetItemAsync("karata:settings:dark", !_dark);
        _dark = !_dark;

        StateHasChanged();
    }
}
