 @page "/game/{id:guid}/play"

@attribute [Authorize]

@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Collections.Immutable
@using TextCopy

@inject AuthenticationStateProvider Authenticator
@inject IAccessTokenProvider Provider
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager Navigator

@if (_room is null)
{
    <div class="d-flex justify-center">
        <MudText Typo="Typo.body1">Loading...</MudText>
    </div>
}
else
{
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mud-height-full pa-0">
        <MudGrid Class="mud-height-full px-4 pt-4">
            <MudItem xs="12" md="8" xl="9" xxl="10">
                <MudCard Elevation="0" Class="" Style="height: 88vh">
                    @if (_room is not null && _room.Game.IsStarted)
                    {
                        if (_table)
                        {
                            <CardTableGameInterface Game="_room.Game" Hand="_hand" Turn="_turn.ToImmutableList()" OnAddCardToTurn="AddCardToTurn" OnReorderCardInTurn="ReorderCardInTurn" OnRemoveCardFromTurn="RemoveCardFromTurn"/>
                        }
                        else
                        {
                            <CardListGameInterface Game="_room.Game" Hand="_hand" Turn="_turn.ToImmutableList()" OnAddCardToTurn="AddCardToTurn" OnReorderCardInTurn="ReorderCardInTurn" OnRemoveCardFromTurn="RemoveCardFromTurn"/>
                        }
                    }
                    else
                    {
                        <div class="d-flex flex-column justify-center align-content-center pa-4 pt-8">
                            <MudText Align="Align.Center" Typo="Typo.body1" Class="mb-2">
                                You are in room @_room.Id
                                <MudIconButton Size="Size.Small" Icon="@Icons.Filled.ContentCopy" Color="Color.Primary" OnClick="CopyRoomId"/>
                            </MudText>
                            <MudText Align="Align.Center" Typo="Typo.body2" Class="mb-2">
                                @Navigator.Uri
                                <MudIconButton Size="Size.Small" Icon="@Icons.Filled.ContentCopy" Color="Color.Primary" OnClick="CopyRoomLink"/>
                            </MudText>
                            <MudGrid Spacing="2" Justify="Justify.Center">
                                <MudItem xs="12" sm="8" md="6" lg="4" xl="3" xxl="2">
                                    <QRCode Data="@Navigator.Uri"/>
                                </MudItem>
                            </MudGrid>
                        </div>
                    }
                </MudCard>
            </MudItem>
            <MudItem Class="mud-height-full overflow-y-scroll" xs="12" md="4" xl="3" xxl="2">
                <MudPaper Elevation="0" Class="mb-4">
                    <MudToolBar>
                        @if (_room.Game.IsStarted)
                        {
                            <MudTooltip Text="Pick card(s)">
                                <MudIconButton Icon="@Icons.Rounded.ArrowCircleUp" Color="Color.Inherit" OnClick="() => PerformTurn(new())"/>
                            </MudTooltip>
                            <MudTooltip Text="Play card(s)">
                                <MudIconButton Icon="@Icons.Rounded.ArrowCircleDown" Color="Color.Inherit" OnClick="() => PerformTurn(_turn)"/>
                            </MudTooltip>
                        }
                        else
                        {
                            <MudTooltip Text="@(IsCreator ? "Start Game" : "Only the creator can start the game.")">
                                <MudIconButton Icon="@Icons.Rounded.PlayArrow" Color="Color.Inherit" OnClick="StartGame" Disabled="!IsCreator"/>
                            </MudTooltip>
                        }

                        <MudTooltip Text="Leave Room">
                            <MudIconButton Icon="@Icons.Rounded.PersonRemove" Color="Color.Inherit" OnClick="() => LeaveRoom()"/>
                        </MudTooltip>
                    </MudToolBar>
                </MudPaper>

                <MudPaper Class="pa-4 mb-4" Elevation="0">
                    <div class="mb-2">
                        <MudSwitch @bind-Checked="_table" Color="Color.Primary" Label="Use Card Table interface (Experimental)"/>
                    </div>
                    <MudText Typo="Typo.caption" Class="text-grey">
                        The Card Table interface is still under development and, as such, may contain bugs. Use the Card List interface for best experience.
                    </MudText>
                </MudPaper>

                <MudExpansionPanels DisableBorders="true" Elevation="0" Class="mb-4">
                    <MudExpansionPanel Text="Information">
                        <InformationPanel Room="_room" />
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Players">
                        <PlayersPanel Room="_room" />
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Chat" MaxHeight="500">
                        <ChatPanel Room="_room" Player="_hand?.User" OnSend="Send"/>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudItem>
        </MudGrid>
    </MudContainer>
}

@code
{
    [Parameter]
    public Guid Id { get; set; }
    
    [Inject]
    public required IClipboard Clipboard { get; set; }

    private bool _table;
    private HubConnection? _hub;
    private UIHand? _hand;
    private UIRoom? _room;
    private readonly List<Card> _turn = new();
    private bool IsCreator => _hand?.User.Email == _room?.Creator.Email;
    protected override async Task OnInitializedAsync()
    {        
        var auth = await Authenticator.GetAuthenticationStateAsync();
        var username = auth.User.Identity!.Name!;

        _hub = new HubConnectionBuilder()
            .WithUrl(Navigator.ToAbsoluteUri("/hubs/game"), options => {
                options.AccessTokenProvider = async () =>
                {
                    var result = await Provider.RequestAccessToken();
                    result.TryGetToken(out var token);
                    return token.Value;
                };
            })
            .AddJsonProtocol()
            .Build();

        _hub.On<UIHand, int>("AddCardsToPlayerHand", (hand, num) =>
        {
            Console.WriteLine($"Room {_room.Id}: {hand.User.Email} received {num} cards.");
            if (_room is null) return;
            var playerHand = _room.Game.Hands.Single(h => h.User!.Email == hand.User!.Email);
            for (var i = 0; i < num; i++) playerHand.Cards.Add(new Card());
            StateHasChanged();
        });

        _hub.On<List<Card>>("AddCardRangeToHand", cards =>
        {
            Console.WriteLine(cards.Select(c => c.ToString()));
            if (_hand is null) return;
            _hand.Cards.AddRange(cards);
            StateHasChanged();
        });

        _hub.On<List<Card>>("AddCardRangeToPile", cards =>
        {
            if (_room is null) return;
            foreach (var card in cards) _room.Game.Pile.Push(card);
            StateHasChanged();
        });

        _hub.On<UIHand>("AddHandToRoom", hand =>
        {
            if (_room is null) return;
            _room.Game.Hands.Add(hand);
            Snackbar.Add($"{hand.User.Email} has joined the room", Severity.Info);
            StateHasChanged();
        });

        _hub.On<UIRoom>("AddToRoom", room =>
        {
            _room = room;
            _hand = _room.Game.Hands.Single(h => h.User.Email == username);
            StateHasChanged();
        });

        _hub.On("EndGame", async () =>
        {
            if (_room is null) return;

            await LeaveRoom(true);
            Navigator.NavigateTo($"/game/{_room.Id.ToString()}/over");
        });

        _hub.On("NotifyTurnProcessed", () =>
        {
            _turn.Clear();
            StateHasChanged();
        });

        _hub.On<bool, Task<Card?>>("PromptCardRequest", async specific =>
        {
            var parameters = new DialogParameters { { nameof(CardRequestModal.Specific), specific } };
            var dialog = DialogService.Show<CardRequestModal>("Request a card", parameters);
            var result = await dialog.Result;
            return result.Cancelled ? null : (Card)result.Data;
        });

        _hub.On<bool>("PromptLastCardRequest", async () =>
        {
            var dialog = DialogService.ShowMessageBox("Last Card?", "Are you on your last card?", "Yes!", "No");
            return (await dialog) ?? false;
        });

        _hub.On<UIChat>("ReceiveChat", message =>
        {
            if (_room is null) return;
            _room.Chats.Add(message);
            var sender = message.Sender.Email;
            if (sender != username) Snackbar.Add($"New message from {sender}.", Severity.Info);
            StateHasChanged();
        });

        _hub.On<SystemMessage>("ReceiveSystemMessage", message =>
        {
            var severity = message.Type switch
            {
                MessageType.Error => Severity.Error,
                MessageType.Info => Severity.Info,
                MessageType.Success => Severity.Success,
                MessageType.Warning => Severity.Warning,
                _ => throw new ArgumentException("Invalid message type.", nameof(MessageType))
                };
            Snackbar.Add(message.Text, severity);
        });

        _hub.On("ReclaimPile", () =>
        {
            if (_room is null) return;
            var cards = _room.Game.Pile.Reclaim();
            _room.Game.DeckCount += cards.Count;
            StateHasChanged();
        });

        _hub.On<int>("RemoveCardsFromDeck", num =>
        {
            if (_room is null) return;
            _room.Game.DeckCount -= num;
            StateHasChanged();
        });

        _hub.On<UIHand, int>("RemoveCardsFromPlayerHand", (hand, num) =>
        {
            if (_room is null) return;
            var playerHand = _room.Game.Hands.Single(h => h.User!.Email == hand.User!.Email);
            for (var i = 0; i < num; i++) playerHand.Cards.RemoveAt(0);
            StateHasChanged();
        });

        _hub.On<List<Card>>("RemoveCardRangeFromHand", cards =>
        {
            if (_hand is null) return;
            _hand.Cards.RemoveAll(cards.Contains);
            StateHasChanged();
        });

        _hub.On("RemoveFromRoom", () =>
        {
            _room = null;
            StateHasChanged();
        });

        _hub.On<UIHand>("RemoveHandFromRoom", hand =>
        {
            if (_room is null) return;
            _ = _room.Game.Hands.RemoveAll(h => h.User!.Email == hand.User!.Email);
            Snackbar.Add($"{hand.User!.Email} has left the room.", Severity.Info);
            StateHasChanged();
        });

        _hub.On<Card>("SetCurrentRequest", request =>
        {
            if (_room is null) return;
            _room.Game.CurrentRequest = request;
            StateHasChanged();
        });

        _hub.On<int>("UpdateTurn", turn =>
        {
            if (_room is null) return;
            _room.Game.CurrentTurn = turn;
            var current = _room.Game.Hands[turn].User!.Email;
            var turnText = current == username ? "your" : $"{current}'s";
            var message = $"It is now {turnText} turn.";
            Snackbar.Add(message, Severity.Info);
            StateHasChanged();
        });

        _hub.On<bool>("UpdateGameStatus", started =>
        {
            if (_room is null) return;
            _room.Game.IsStarted = started;
            if (started) Snackbar.Add("The game has started", Severity.Info);
            StateHasChanged();
        });

        await _hub.StartAsync();
        await _hub.SendAsync("JoinRoom", Id, "");
    }

    // TODO: Move these into services then have things like <... OnSend="ChatService.Send" ... />

    async Task LeaveRoom(bool isEnding = false)
    {
        if (_hub is null || _room is null) return;
        await _hub.SendAsync("LeaveRoom", _room.Id, isEnding);
    }

    async Task StartGame()
    {
        if (_hub is null || _room is null) return;
        await _hub.SendAsync("StartGame", _room.Id);
    }
    
    private void AddCardToTurn(ValueTuple<Card, int> info)
    {
        var (card, index) = info;
        _turn.Insert(index, card);
        StateHasChanged();
    }

    private void ReorderCardInTurn(ValueTuple<Card, int> info)
    {
        var (card, index) = info;
        _turn.Remove(card);
        _turn.Insert(index, card);
        StateHasChanged();
    }

    private void RemoveCardFromTurn(Card card)
    {
        _turn.Remove(card);
        StateHasChanged();
    }

    async Task PerformTurn(List<Card> cards)
    {
        if (_hub is null || _room is null) return;
        await _hub.SendAsync("PerformTurn", _room.Id, cards);
        StateHasChanged();
    }

    async Task Send(string message)
    {
        if (_hub is null || _room is null) return;
        await _hub.SendAsync("SendChat", _room.Id, message);
    }
    
    private async Task CopyRoomId()
    {
        await Clipboard.SetTextAsync(Id.ToString());
        Snackbar.Add("Copied to clipboard.", Severity.Info);   
    }
    
    private async Task CopyRoomLink()
    {
        await Clipboard.SetTextAsync(Navigator.Uri);
        Snackbar.Add("Copied to clipboard.", Severity.Info);   
    }

    public async ValueTask DisposeAsync()
    {
        if (_hub is null) return;
        await _hub.DisposeAsync();
    }
}



@* TODO: Make this a component (HubConnectionGuard) that takes a hub connection and a callback to run and/or a component to render when the connection is lost. *@
@* @if (_hubConnection is null || _hubConnection.State != HubConnectionState.Connected) *@
@* { *@
@*     <MudContainer MaxWidth="MaxWidth.Large" Class="mud-height-full"> *@
@*         <MudText Typo="Typo.h5" Class="pa-4 my-4">You are not connected to a server.</MudText> *@
@*         <MudText Typo="Typo.h6" Class="pa-4 mb-4">If this message persists, reload this page to establish a connection.</MudText> *@
@*     </MudContainer> *@
@* } *@